/* assets/styles/main.css */
:root {
    --rb-color: #0961cf;
}

.translate-hover-img {
    >img {
        transition: transform 0.3s ease;
    }

    &:hover {
        >img {
            transition: transform 0.3s linear;
            transform: translateX(8px);
        }
    }
}

.tp-solid-border {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: bottom right;
        background: #0961cf;
        transition: transform 0.3s ease-out;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}