:root {}

@mixin alignCenter($justify:normal, $align:center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin alignColumn($justify:normal) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}